---
---

@import "{{ site.theme }}";

#header{display: none;}
section{margin-top: 0px;}
section #title{ display: none;}
ul{
  list-style-type: circle;
  list-style-image:none;
  padding: 0 0 0 20px;
}
